@import "~bootstrap/scss/bootstrap";

:root {
  --grey-light: #e7e5eb;
  --txt_grey: #b0b0b0;
  --grey: #c8c5d1;
  --firm: #9873ff;
  --black: #333;
}

/* header */
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSansSemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  position: relative;
  margin: 0;
  font-family: "OpenSansRegular", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.link-reset {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: inherit;
  letter-spacing: inherit;
  outline: none;
  border-radius: 0;
}

.input-reset {
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0;
}

.title,
.subtitle,
.description {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

.header {
  height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 53px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-right: 53px;
}

.searchInput {
  height: 44px;
  max-width: 581px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.searchInput::placeholder {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: var(--txt_grey);
}

.searchInput:focus {
  border: 2px solid var(--firm);
}

.clients {
  padding: 40px 78px;
}

.clients__title {
  font-size: 24px;
  font-family: "OpenSansBold";
  color: var(--black);
}

.addClientButton {
  padding: 13px 27px;
  margin: 0 auto;
  width: fit-content;
  border: 1px solid var(--firm);
  color: var(--firm);
  font-family: "OpenSansSemiBold";
}

.btn:hover {
  color: var(--firm);
  border-color: var(--firm);
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.6);

  &__title {
    width: 100%;
    margin-bottom: 32px;
    padding: 0 30px;
    color: var(--black);
    font-size: 18px;
    font-family: "OpenSansBold";
  }

  &__сontent {
    position: relative;
    min-width: 450px;
    min-height: 215px;
    padding: 27px 0 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  &__action-btn {
    margin: 0 auto;
    padding: 12px 35px;
    margin-bottom: 5px;
    width: fit-content;
    background-color: var(--firm);
    color: #fff;
    font-family: "OpenSansSemiBold";
  }

  &__action-btn span {
    width: 16px;
    height: 16px;
    border-width: 3px;
    color: #b89eff !important;
  }

  &__additional-btn {
    margin: 0 auto;
    width: fit-content;
    font-size: 12px;
    border-bottom: 1px solid var(--black);
    line-height: 10px;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
  }

  &__close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 25px;
    height: 25px;

    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 0;
      width: 2px;
      height: 25px;
      background-color: var(--txt_grey);
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

.popup[data-type="removeClient"] .popup__сontent {
  flex-direction: column;
}
.popup[data-type="removeClient"] .popup__title {
  margin-bottom: 11px;
  text-align: center;
}
.popup[data-type="removeClient"] .popup__text {
  margin-bottom: 25px;
  max-width: 275px;
  font-size: 14px;
  text-align: center;
}

.popup.open {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.inputContactsGroup {
  height: 37px;
  width: 100%;
}
.inputContactsGroup:not(:last-child) {
  margin-bottom: 15px;
}
.dropdown-toggle {
  height: 100%;
  min-width: 123px;
  padding: 8px 12px;
  background-color: var(--grey-light);
  border: 1px solid var(--txt_grey);
  color: var(--black);
  font-size: 12px;
  text-align: start;
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
}

.inputContact {
  height: 100%;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--grey);
  color: var(--black);
  color: #b0b0b0;
  font-size: 14px;
}

.action-button:hover {
  color: var(--firm);
}

.button-change {
  margin-right: 30px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  opacity: 0.8;
}

.contact-tooltip {
  position: absolute;
  padding: 7px;
  width: 133px;
  left: calc(50% - 66px);
  bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;
}

.btn-tooltip::after {
  content: "";
  position: absolute;
  left: calc(50% - 4px);
  bottom: 14px;
  border: 4px solid transparent;
  border-top: 8px solid #333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;
}

.btn-tooltip {
  position: relative;
  width: 16px;
  height: 16px;
}

.btn-tooltip svg {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-tooltip:not(:last-child) {
  margin-right: 7px;
}

.btn-tooltip:hover::after,
.btn-tooltip:hover .contact-tooltip {
  opacity: 1;
  visibility: visible;
}

.action-button {
  gap: 3px;
  display: flex;
  align-items: center;
}

.table {
  &__head th,
  &__head-btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #b0b0b0;
  }

  &__head-btn {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__head-btn.active {
    color: var(--firm);
  }

  &__head-btn[data-direction="descending"] svg {
    transform: rotate(180deg);
  }

  &__head-btn[data-sort="surname"][data-direction="ascending"]:after {
    content: "Я-А";
    color: var(--firm);
  }

  &__head-btn[data-sort="surname"][data-direction="descending"]:after {
    content: "А-Я";
    color: var(--firm);
  }
}

.cell-actions {
  display: flex;
}

.addClientButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-value {
  color: var(--firm);
  font-weight: 600;
}

.removeContactBtn {
  width: 27px;
  height: 100%;
  border: 1px solid var(--grey);
  border-left: none;
}

.form-select {
  height: 100%;
}

.text-primary {
  color: var(--firm) !important;
}

.spinner-border {
  width: 72px;
  height: 72px;
  border-width: 8px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__inputs {
    padding: 0 30px;
    margin-bottom: 26px;
  }

  &__addContact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: "OpenSansSemiBold";
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }

  &__inputBlock {
    position: relative;
  }

  &__inputBlock:not(:last-child) {
    margin-bottom: 32px;
  }

  &__input {
    width: 100%;
    height: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
    border-bottom: 1px solid rgba(200, 197, 209, 0.5);
    background-color: transparent;
  }

  &__input:focus + label,
  &__input:not(:placeholder-shown) + label {
    bottom: 25px;
    cursor: default;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 4px;
    transition: 0.3s bottom linear;
    font-size: 14px;
    line-height: 19px;
    color: var(--txt_grey);
    cursor: pointer;
  }

  &__label span {
    color: var(--firm);
    font-family: "OpenSansSemiBold";
  }

  &__contacts {
    min-height: 35px;
    width: 100%;
    padding: 8px 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f6;
  }

  &__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__dropdown-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 123px;
    padding: 10px 12px;
    border: 1px solid var(--grey);
    border-right: none;
    text-align: left;
    background-color: var(--grey-light);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: "OpenSansRegular";
  }

  &__dropdown-button::after {
    position: absolute;
    right: 8px;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("../assets/images/arrow-select.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.3s linear;
  }

  &__dropdown-button.open::after {
    transform: rotate(180deg);
  }

  &__dropdown-list {
    position: relative;
    max-height: 0;
    width: 123px;
    overflow: hidden;
    background-color: #f4f3f6;
    border: 1px solid var(--grey);
    border-top: none;
    border-bottom: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 0.2s linear;
    z-index: 5;
  }

  &__dropdown-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: "OpenSansRegular";
    cursor: pointer;
  }
  &__dropdown-item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__errors:has(.form__error) {
    padding: 0 30px 25px;
  }

  &__error {
    font-size: 10px;
    line-height: 14px;
    color: #f06a4d;
  }
}

.contacts {
  &__inputs {
    width: 100%;
  }
}

.contacts:has(.inputContactsGroup) {
  padding: 25px 30px;
}
.contacts__inputs:has(.inputContactsGroup) {
  margin-bottom: 25px;
}
