@import "~bootstrap/scss/bootstrap";
:root {
  --grey-light: #e7e5eb;
  --txt_grey: #b0b0b0;
  --grey: #c8c5d1;
  --firm: #9873ff;
  --black: #333;
}

/* header */
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets//fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets//fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSansSemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets//fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../assets//fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets//fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../assets//fonts/OpenSans-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  position: relative;
  margin: 0;
  font-family: "OpenSansRegular", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.link-reset {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: inherit;
  letter-spacing: inherit;
  outline: none;
  border-radius: 0;
}

.input-reset {
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0;
}

.title,
.subtitle,
.description {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

.header {
  height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-right: 53px;
}

.searchInput {
  height: 44px;
  max-width: 581px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.searchInput::placeholder {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: var(--txt_grey);
}

.searchInput:focus {
  border: 2px solid var(--firm);
}

.clients {
  padding: 40px 78px;
}

.clients__title {
  font-size: 24px;
  font-family: "OpenSansBold";
  color: var(--black);
}

.addClientButton {
  padding: 13px 27px;
  margin: 0 auto;
  width: fit-content;
  border: 1px solid var(--firm);
  color: var(--firm);
  font-family: "OpenSansSemiBold";
}

.btn:hover {
  color: var(--firm);
  border-color: var(--firm);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.6);

  &__сontent {
    position: relative;
    min-width: 450px;
    background-color: #fff;
    padding: 24px 30px 30px;
  }

  &__title {
    width: 100%;
    margin-bottom: 16px;
    color: var(--black);
    font-size: 18px;
    font-family: "OpenSansBold";
  }

  &__close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 15px;
      background-color: var(--txt_grey);
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

  &__action-btn {
    margin: 0 auto;
    padding: 12px 35px;
    margin-bottom: 5px;
    width: fit-content;
    order: 2;
    background-color: var(--firm);
    color: #fff;
    font-family: "OpenSansSemiBold";
  }

  &__additional-btn {
    margin: 0 auto;
    width: fit-content;
    order: 3;
    font-size: 12px;
    border-bottom: 1px solid var(--black);
    line-height: 10px;
  }

  &__addContact-btn {
    order: 1;
    font-family: "OpenSansSemiBold";
    font-size: 14px;
  }
}

.popup.open {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.inputContactsGroup {
  height: 37px;
  width: 100%;
}

.dropdown-toggle {
  height: 100%;
  min-width: 123px;
  padding: 8px 12px;
  background-color: var(--grey-light);
  border: 1px solid var(--txt_grey);
  color: var(--black);
  font-size: 12px;
  text-align: start;
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
}

.inputContact {
  height: 100%;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--txt_grey);
  color: var(--black);
  border-left: none;
  color: #b0b0b0;
  font-size: 14px;
}

.input-lastName,
.input-name,
.input-surname {
  height: 0;
}

.label-surname,
.label-name,
.label-lastName {
  font-size: 14px;
  color: var(--txt_grey);
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
}

.label-surname::after,
.label-name::after {
  content: "*";
  color: var(--firm);
  font-family: "OpenSansSemiBold";
}

.action-button:hover {
  color: var(--firm);
}

.button-change {
  margin-right: 30px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #fff;
}

.contact-tooltip {
  position: absolute;
  padding: 7px 14px;
  width: 133px;
  left: calc(50% - 66px);
  bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.btn-tooltip::before {
  content: "";
  position: absolute;
  left: calc(50% - 4px);
  bottom: 13px;
  border: 4px solid transparent;
  border-top: 8px solid #333;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.btn-tooltip {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #9873ff;
}

.btn-tooltip:not(:last-child) {
  margin-right: 7px;
}

.btn-tooltip:hover .contact-tooltip,
.btn-tooltip:hover::before {
  opacity: 1;
}

.action-button {
  gap: 3px;
  display: flex;
  align-items: center;
}

.table {
  &__head th,
  &__head-btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #b0b0b0;
  }

  &__head-btn {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__head-btn.active {
    color: var(--firm);
  }

  &__head-btn:not(.active) svg {
    transform: rotate(180deg);
  }
}
